/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* 2. Make nav sticky 
  main> nav {
    position: sticky;
    top: 2rem;
    align-self: start;
  }
  */
/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active>a {
    color: #333;
    font-weight: 600;
}

/* Sidebar Navigation */
.section-nav {
    padding-left: 0;
    border-left: 1px;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: 2px 0;
    color: #ccc;
    transition: all 50ms ease-in-out;
    /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #666;
}

/** Poor man's reset **/
* {
    box-sizing: border-box;
}

html,
body {
    background: #fff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 1rem;
}

h1 {
    font-weight: 300;
}

.contents {
    position: fixed;
    width: 70px;
    height: 16px;
    right: 124px;
    top: 164px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #11284B;
}

/** page layout 
  main {
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
  }**/

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
    padding-bottom: 300px;
}

/*body-clinicalsymp*/
.clinical-symptoms {
    position: absolute;
    font-weight: 600;
    display: inline-block;
    top: 74px;
    left: 580px;
    font-size: var(--font-size-3xl);
    color: inherit;
    width: 272px;
    height: 35px;
    text-decoration: none;
}

/*body-clinical symp*/
.body-icon {
    position: absolute;
    top: 68px;
    left: 785px;
    width: 186px;
    height: 530px;
    object-fit: cover;
}

/*ellipse-position*/
.beta-thal-child4 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 846px;
    top: 140px;

}

.beta-thal-child3 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 852px;
    top: 245px;
}

.beta-thal-child2 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 802px;
    top: 240px;
}

.beta-thal-child5 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 887px;
    top: 237px;
}

.beta-thal-child1 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 839px;
    top: 397px;
}

/*clinical symp sentence*/
.layer1 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 144px;
}

.layer2 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 183px;
}

.layer3 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 228px;
}

.layer4 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 270px;
}

.layer5 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 316px;
}

.layer6 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 365px;
}

.layer7 {
    position: absolute;
    font-size: var(--font-size-base);
    width: 498px;
    height: 24px;
    left: 299px;
    top: 405px;
}


/*timeline-of-disease*/
.timeline-of-disease1 {
    position: absolute;
    display: inline-block;
    top: 613px;
    left: 558px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    text-align: center;
    width: 292px;
    height: 29px;
}

.hemo-a-timeline-icon {
    position: absolute;
    top: 651px;
    left: 292px;
    width: 824px;
    height: 163px;
    object-fit: cover;
}

.source-httpsrarediseasesi {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
    top: 810px;
    left: 804px;
    font-size: var(--font-size-5xs);
    width: 395px;
}

.coloured-age {
    position: absolute;
    width: 395px;
    height: 12px;
    left: 310px;
    top: 810px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    /* identical to box height */


    color: #000000;
}


/*inheritance pattern*/
.autosomal-recessive {
    position: absolute;
    width: 816px;
    height: 43px;
    left: 290px;
    top: 855px;
    background: #EFF0FF;
    border-radius: 19px;
    border-radius: var(--br-lgi);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    border: none;
    text-align: center;

}

.image-container {
    visibility: hidden;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 99;
    border-radius: var(--br-lgi);
    position: absolute;
    width: 840px;
    height: 615px;
    left: 290px;
    top: 855px;
}

.alpha-child {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-whitesmoke-200);
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: var(--br-lgi);
    width: 1000px;
    height: 43px;
}

.hide {
    position: absolute;
    top: 65px;
    left: 880px;
    font-size: var(--font-size-base);
    font-weight: 200;
    color: inherit;
    display: inline-block;
    width: 300px;
    text-decoration: none;
}

.hideme {
    position: absolute;
    top: 895px;
    left: 590px;
    font-size: var(--font-size-base);
    font-weight: 200;
    color: inherit;
    display: inline-block;
    width: 300px;
    text-decoration: none;
}

/*healing*/
.diagnosticstext {
    position: absolute;
    font-size: var(--font-size-base);
    display: inline-block;
    top: 1300px;
    left: 365px;
    width: 321px;
}

.therapeuticstext {
    position: absolute;
    top: 1300px;
    left: 790px;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 316px;
}

.therapeutics1 {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    top: 1251px;
    left: 859px;
    width: 247px;
    height: 35px;
}

.diagnostics {
    position: absolute;
    font-weight: 600;
    display: inline-block;
    top: 1251px;
    left: 434px;
    font-size: var(--font-size-3xl);
    color: inherit;
    width: 233px;
    height: 34px;
    text-decoration: none;
}

.horizontal-icon,
.vertical-icon {
    position: absolute;
    top: 1074px;
    left: 724.5px;
    width: 1px;
    height: 462px;
}

.horizontal-icon {
    top: 1190.5px;
    left: 494px;
    width: 462px;
    height: 1px;
}

/*prevalance*/
.in-100000,
.india {
    font-size: var(--font-size-base);
}

.in-100000 {
    position: absolute;
    top: 1074px;
    left: 761px;
    text-align: center;
    display: inline-block;
    width: 303px;
}

.india {
    margin: 0;
}

.prevalence-india-txt-container {
    line-break: anywhere;
    width: 100%;
}

.prevalence-global,
.prevalence-india {
    position: absolute;
    top: 992px;
    left: 403px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    width: 219px;
    height: 75px;
    font-size: var(--font-size-3xl);
}

.prevalence-global {
    top: 989px;
    left: 821px;
    width: 195px;
}

.therapeutics {
    margin: 0;
}

.estimated-4-per-container {
    position: absolute;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    top: 1074px;
    left: 360px;
    font-size: var(--font-size-base);
    color: inherit;
    width: 306px;
}

/*recent research*/
.recent-research1 {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    top: 1587px;
    left: 306px;
    width: 350px;
}

/*resources*/
.resources1 {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
    top: 1718px;
    left: 306px;
    font-size: var(--font-size-xl);
    width: 188px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
}

.reference1 {
    margin: 0;
    padding-left: var(--padding-base);
}

.reference-container {
    position: absolute;
    top: 1754px;
    left: 305px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
    width: 800px;
}

/*footer*/
.tigs {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    top: 2001px;
    left: 545px;
    font-size: var(--font-size-base);
    color: inherit;
    text-align: center;
    width: 415px;
}

.span {
    color: var(--color-darkblue);
}

.samruddhi-walaskar {
    color: var(--color-gray-100);
}

.dashboard-development-container {
    text-decoration: none;
    position: absolute;
    top: 1978px;
    left: 32px;
    font-size: var(--font-size-base);
    display: inline-block;
    width: 462px;
    height: 24px;
    color: inherit;
}

.concept-lead-container {
    position: absolute;
    font-size: var(--font-size-base);
    display: inline-block;
    text-decoration: none;
    top: 2001px;
    left: 32px;
    width: 392px;
    height: 24px;
    color: inherit;
}

.data-compilation-rgd-container {
    position: absolute;
    font-size: var(--font-size-base);
    display: inline-block;
    text-decoration: none;
    top: 1954px;
    left: 32px;
    width: 392px;
    height: 24px;
    color: inherit;
}

.surabhisrivastavatigsresin {
    margin: 0;
    color: var(--color-gray-100);
}

.for-queries-container {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
    top: 1978px;
    left: 1068px;
    font-size: var(--font-size-base);
    width: 448px;
    height: 55px;
}

/*left-navbar*/
.hemo-a-item {
    position: absolute;
    width: 197px;
    height: 43px;
    left: 13px;
    top: 460px;
    background: #EFF0FF;
    border-radius: 19px;
}

/*.hemo-a-inner {
    top: 14px;
    left: 869px;
    height: 43px;
  }
  */
  .dashboard-icon {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
}

.blood-disorder {
    position: relative;
    font-weight: 600;
}

.dashboard,
.dashboard1 {
    text-decoration: none;
    position: absolute;
    top: 168px;
    left: 27px;
    width: 136px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-gray-100);
}

.dashboard1 {
    top: 217px;
    width: 152px;
}

.neurological-disorders {
    position: relative;
    font-weight: 600;
    display: inline-block;
    width: 165px;
    flex-shrink: 0;
}

.dashboard2 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 0px 0px;
    gap: 14px;

    position: absolute;
    width: 209px;
    height: 16px;
    left: 25px;
    top: 547px;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-gray-100);
}


.dashboard3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 209px;
    height: 21px;
    left: 27px;
    top: 593px;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-gray-100);
    text-decoration: none;
}

.fabry,
.gauchers-disease,
.pompe {
    text-decoration: none;
    position: absolute;
    top: 264px;
    left: 58px;
    font-weight: 600;
    color: inherit;
}

.fabry,
.pompe {
    top: 304px;
    left: 94px;
}

.pompe {
    top: 340px;
    left: 88px;
}

.mps-i,
.mpsii {
    text-decoration: none;
    position: absolute;
    top: 383px;
    left: 96px;
    font-weight: 600;
    color: inherit;
}

.mpsii {
    top: 419px;
    left: 95px;
}

.mpsiv {
    position: absolute;
    height: 21px;
    left: 95px;
    top: 467px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.mpsvi {
    position: absolute;
    height: 21px;
    left: 95px;
    top: 506px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

/*header*/
.hemophilia-a1 {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    top: 14px;
    left: 287px;
    font-size: var(--font-size-13xl);
    font-weight: 800;
    color: inherit;
}

.external-link {
    position: absolute;
    width: 18px;
    height: 17px;
    left: 610px;
    top: 25px;
}

.vector-icon {
    position: absolute;
    left: 41.67%;
    right: 12.5%;
    top: 12.5%;
    bottom: 41.67%;
}

.vector-icon {
    position: absolute;
    left: 62.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 62.5%;
}

.vector-icon {
    position: absolute;
    left: 12.5%;
    right: 25%;
    top: 25%;
    bottom: 12.5%;
}

.vector-icon {
    position: absolute;
    left: 12.5%;
    right: 25%;
    top: 25%;
    bottom: 12.5%;
}

/*tigslogo*/
.tigs-logo {
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 16px;
    background-image: url(./public/tigs-logo@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/*gentigs*/
.hide {
    position: absolute;
    top: 65px;
    left: 880px;
    font-size: var(--font-size-base);
    font-weight: 200;
    color: inherit;
    display: inline-block;
    width: 300px;
    text-decoration: none;
}

.gentigs-top {
    position: absolute;
    top: 20px;
    left: 920px;
    font-weight: 600;
    font-family: var(--font-inherit);
    font-size: var(--font-size-3xl);
    color: inherit;
    display: inline-block;
    text-decoration: none;
    width: 219px;
    height: 35px;
}

.beta-inner1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-lavender-100);
    position: absolute;
    top: 14px;
    left: 869px;
    border-radius: var(--br-lgi);
    width: 197px;
    height: 41px;
}

/*additional-links*/
.aditional-links {
    position: absolute;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    bottom: 1232px;
    left: 23px;
    font-weight: 600;
    color: var(--color-gray-100);
    width: 187px;
    height: 34px;
}

.online-mendelian-inheritance {
    margin: 0;
    padding-left: var(--padding-lgi);
}

.online-mendelian-inheritance-container {
    text-decoration: none;
    position: absolute;
    bottom: 1197px;
    left: 27px;
    color: inherit;
    display: inline-block;
    width: 208px;
    height: 35px;
}

.indian-policy-for-container,
.online-mendelian-inheritance-container,
.organization-for-rare-container {
    font-size: var(--font-inherit);
    font-weight: 600;
    font-family: var(--font-inherit);
}

.organization-for-rare-container {
    text-decoration: none;
    position: absolute;
    bottom: 1137px;
    left: 27px;
    color: inherit;
    display: inline-block;
    width: 183px;
    height: 36px;
}

.indian-policy-for-container {
    bottom: 986px;
    left: 29px;
    width: 219px;
    height: 49px;
}

.indian-policy-for-container,
.indian-society-of-container,
.tigs-work {
    text-decoration: none;
    position: absolute;
    color: inherit;
    display: inline-block;
}

.tigs-work {
    bottom: 925px;
    left: 30px;
    font-size: var(--font-inherit);
    font-weight: 800;
    font-family: var(--font-inherit);
    width: 219px;
    height: 49px;
}

.indian-society-of-container {
    font-weight: 600;
}

.indian-society-of-container {
    bottom: 1059px;
    left: 27px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
    width: 219px;
    height: 48px;
}

/*body*/
.hemo-a {
    position: relative;
    background-color: var(--color-white);
    height: 2105px;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}